.menu-title-container h1{
    color: #1E2772;
}

.menu-title-container > h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 70px;
    display: flex;
    justify-content: center;
}

.menu-title-container > hr {
    margin-top: 20px;
    margin-bottom: 20px;
    color: gray;
}
