<div class="ai">
    <app-menu-bar></app-menu-bar>
    <div class="container-response">
        <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates tenetur, labore libero obcaecati perspiciat
            is eius culpa. Assumenda, accusantium provident pariatur est, nulla tenetur sapiente non in omnis sunt animi eum.</p>
        </div>
    </div>
    <div class="container-request">
        <div class="text">
            <p>Digite sua dúvida abaixo:</p>
    </div>
        <input type="text">
        <button>Perguntar</button>
    </div>
</div>
