<app-menu-bar></app-menu-bar>
<div class="min-h-screen flex flex-col items-center justify-center">
    <div class="flex flex-col items-center justify-center ">
        <div class="max-w-2xl max-h-2xl mb-20">
            <p>{{aiResponse}}</p>
        </div>
        <div class="text-center">
            <div class="mb-5">
                <p>Digite sua dúvida abaixo:</p>
            </div>
            <form action="">
                <input type="text" [(ngModel)]="aiRequest" [ngModelOptions]="{standalone:true}" placeholder="" class="input" />
            </form>
            <button class="btn btn-active mt-5" (click)="sendQuestionToAi()">Perguntar</button>
        </div>
    </div>
</div>