<app-default-layout-login
    title="Entre na sua conta"
    primaryBtnText="Entre agora"
    secondaryBtnText="Cadastre-se agora"
    (submit)="submit()"
    (navigate)="navigate('signup')"
    [disablePrimaryButton]="!loginForm.valid">
    
    
    <form [formGroup]="loginForm">
        <app-primary-input
        type="text"
        placeHolder="Digite seu nome de usuário aqui"
        formControlName="username">
        </app-primary-input>
        <app-primary-input
        type="password"
        placeHolder="Digite sua senha aqui"
        formControlName="password">
        </app-primary-input>
    </form>
</app-default-layout-login>
