h1{
    text-align: center;
    margin-top: 40px;
    color: #1E2772;
}

.table{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
}

table{
    border: 1px solid #1E2772;
    width: 800px;
    border-radius: 8px;
    padding: 10px;

    td{
        text-align: center;
        padding: 10px;
    }
    
}