<app-menu-bar></app-menu-bar>
<h1>Cotação em tempo real das criptomoedas mais famosas</h1>
<div class="table">
    <table>
        <thead>
            <tr>
                <th>Cripto</th>
                <th>Moeda</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let crypto of cryptoList">
                <td>{{crypto.cryptoName}}</td>
                <td>{{crypto.cryptoCurrency}}</td>
                <td>{{crypto.cryptoPrice}}</td>
            </tr>
        </tbody>
    </table>
</div>
