<main>
    <section class="section-login">
        <img src="intercambio.png"  width="50px" alt="">
        <h2>{{title}}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button class="primary"  (click)="submit()">{{primaryBtnText}}</button>
            <div>
                <span>ou</span>
            </div>
            <button class="secondary" (click)="navigate()">{{secondaryBtnText}}</button>
        </div>
    </section>
    <section class="main-section">
        <h1>Code & Crypto</h1>
        <img src="intercambio.png" width="300px" alt="blala">
    </section>
</main>