<header>
    <app-menu-bar></app-menu-bar>
</header>
<div class="flex flex-col items-center">
    <div class="mt-5">
        <h1 class="font-mono font-bold">{{title}}</h1>
    </div>
    <div class="mt-5">
       <img class="w-[450px] rounded-sm" src={{photo}} alt="">
    </div>
    <div class="mt-5 w-[700px]">
        <p class="font-mono font-bold">{{description}}</p>
    </div>
</div>
<div class="flex  flex-col items-center mt-10">
    <div>
        <h1 class="font-mono font-bold">Comentários</h1>
    </div>
    <div class="mb-10">
        <fieldset class="fieldset mt-5">
            <legend class="fieldset-legend">Escreva um comentário</legend>
            <input type="text" class="input" [(ngModel)]="comment" />
            <button (click)="submit()" class="btn">Comentar</button>
          </fieldset> 
    </div>
</div>
<div class="flex justify-center" *ngFor="let comment of comments">
    <app-comment
        [content]="comment.content"
        [userName]="comment.userName"
        [date]="comment.createdAt"
    ></app-comment>
</div>
