<app-menu-title></app-menu-title>
<div class="container_cards">
    <div class="big_card">
        <app-big-card
        id="1"
        photo="https://m.media-amazon.com/images/I/51bba5RkeOL.png"
        title="Bitcoin cai"
        description="blalbagdafds"
        ></app-big-card>
    </div>
    <div class="smalls_cards">
        <app-small-card
        id="1"
        photo="https://m.media-amazon.com/images/I/51bba5RkeOL.png"
        title="Bitcoin"
        ></app-small-card>
        <app-small-card
        id="2"
        photo="https://m.media-amazon.com/images/I/51bba5RkeOL.png"
        title="Bitcoin"
        ></app-small-card>
        <app-small-card
        id="3"
        photo="https://m.media-amazon.com/images/I/51bba5RkeOL.png"
        title="Bitcoin"
        ></app-small-card>
    </div>
</div>
