<div class="container-comment">
    <div class="comment-header">
        <span class="material-symbols-outlined">
            person
            </span>
        <p>Nome do usuário</p>
        <p>01/02/2025</p>
    </div>
    <div class="comment-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt rem exce
            pturi debitis culpa possimus necessitatibus fuga incidunt quaerat, eli
            gendi commodi beatae est unde, quasi architecto nemo voluptatum perferendis
            . Voluptatem, nobis?</p>
    </div>
</div>
