.container-comment{

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    width: 600px;
    height: 150px;
    background-color: #4c59d0;
    border-radius: 8px;


    .comment-header{

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
    } 
}